---
interface Props {
	type: 'link' | 'button';
	disabled?: boolean;
}
const { type } = Astro.props;
const disabled = Astro.props.disabled ?? true;
---

<>
	{
		type === 'link' && (
			<a class={disabled ? 'disabled' : ''}>
				<slot />
			</a>
		)
	}

	{
		type === 'button' && (
			<button
				class={disabled ? 'disabled' : ''}
				type='button'
			>
				<slot />
			</button>
		)
	}
</>

<style>
	button,
	a {
		align-self: center;
		transition: opacity 0.5s;
		border: solid 2px white;
		border-radius: 4px;
		background: hsl(271, 76%, 53%);
		padding: 0.3em;
		color: white;
		font-size: 0.8em;
		text-decoration: none;
	}

	button:hover:not(.disabled),
	a:hover:not(.disabled) {
		background: hsl(271, 76%, 40%);
	}

	button.disabled,
	a.disabled {
		opacity: 0.5;
		cursor: default;
	}
</style>
