---
// Routes Generation

import type { GetStaticPaths } from 'astro';

import { languages } from '../../utils/languages';

export const getStaticPaths = (() => {
	const staticPaths = Object.keys(languages).map(langCode => {
		return { params: { lang: langCode } };
	});

	return [...staticPaths, { params: { lang: undefined } }];
}) satisfies GetStaticPaths;

// Page

import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Description from '../../components/sections/Description.astro';
import Skills from '../../components/sections/skills/Skills.astro';
import Options from '../../components/items/Options.astro';
---

<Layout>
	<Header />
	<main>
		<Description />
		<Skills />
	</main>
	<Options />
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		padding: 2rem 5%;
	}
</style>
