---
import { getUiData, getLangFromUrl } from '../../utils/languages';
const ui = await getUiData(getLangFromUrl(Astro.url));
---

<section class='intro'>
	<p>{ui.description}</p>
</section>

<style>
	section {
		display: flex;
		justify-content: center;
		font-size: 1.5rem;
		text-align: center;
	}

	p {
		border: white 1px solid;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 0.6em;
		width: 75%;
	}
</style>
