---
import ItemSkills from '../items/ItemSkill.astro';
---

<section>
	<article class='skills'>
		<ItemSkills />
	</article>
	<article class='card'>
		<!-- <ItemCard /> -->
	</article>
</section>

<style>
	section {
		display: grid;
		gap: 2rem;
		@media (width > 600px) {
			grid-template-columns: 3fr 1fr;
		}
	}

	article {
		--color-bg-gradient: linear-gradient(
			15deg,
			hsla(271, 76%, 53%, 0.9),
			70%,
			hsla(0, 100%, 50%, 0.9)
		);
		--color-bg: hsla(271, 76%, 70%, 0.4);

		border: 1px solid white;
		border-radius: 1rem;
		background: var(--color-bg);
		padding: 1rem;
	}
</style>
