---
/* This file should probably be renamed */
---

<div class='card-lang'>
	<h3>Lang</h3>
	<form class='lang'>
		<label>
			<input
				type='radio'
				name='lang'
			/> English</label
		>
		<label>
			<input
				type='radio'
				name='lang'
			/> Spanish</label
		>
		<button
			type='submit'
			disabled
			>Reload</button
		>
	</form>
</div>

<style>
	.card-lang {
		font-size: 1.3rem;
	}

	h3 {
		margin-bottom: 0.4em;
		font-weight: 400;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5em;
	}

	button {
		align-self: center;
		transition: opacity 0.5s;
		border: solid 2px white;
		border-radius: 4px;
		background: hsl(271, 76%, 53%);
		padding: 0.3em;
		color: white;
		font-size: 0.8em;
	}

	button:hover {
		background: hsl(271, 76%, 40%);
	}

	button:disabled {
		opacity: 0.5;
	}
</style>

<script>
	// const form = document.querySelector('.card-lang form') as HTMLFormElement;
	// const message = document.querySelector('.card-lang > div');

	// Array.from(form.elements).forEach(element => {
	// 	if (element.tagName === 'INPUT') {
	// 		element.addEventListener('change', () => {
	// 			message?.classList.add('show');
	// 			setTimeout(() => {
	// 				message?.classList.remove('show');
	// 			}, 3000);
	// 		});
	// 	}
	// });

	// form.addEventListener('submit', e => {
	// 	// console.log('Submiting');
	// 	e.preventDefault();
	// });
</script>
