---
/* This file should probably be renamed */
---

<div class='card-lang'>
	<h3>Lang</h3>
	<form class='lang'>
		<label>
			<input
				type='radio'
				name='lang'
				value='en'
			/> English</label
		>
		<label>
			<input
				type='radio'
				name='lang'
				value='es'
			/> Spanish</label
		>
		<a class='disabled'>Reload</a>
	</form>
</div>

<style>
	.card-lang {
		font-size: 1.3rem;
	}

	h3 {
		margin-bottom: 0.4em;
		font-weight: 400;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5em;
	}

	a {
		align-self: center;
		transition: opacity 0.5s;
		border: solid 2px white;
		border-radius: 4px;
		background: hsl(271, 76%, 53%);
		padding: 0.3em;
		color: white;
		font-size: 0.8em;
		text-decoration: none;
	}

	a:hover:not(.disabled) {
		background: hsl(271, 76%, 40%);
	}

	a.disabled {
		opacity: 0.5;
	}
</style>

<script>
	import { getLangFromUrl, getUrlPathWithLang, type LangCode } from '../../utils/languages';

	const url = window.location.href;

	const currentLang = getLangFromUrl(url);

	const langOptions = document.querySelectorAll(
		'.card-lang input[type="radio"]',
	) as NodeListOf<HTMLInputElement>;

	langOptions.forEach(element => {
		const inputLang = element.value as LangCode;
		if (inputLang === currentLang) {
			element.checked = true;
		}
		element.addEventListener('change', () => {
			if (inputLang !== currentLang) {
				setButtonUrl(inputLang);
			} else {
				setButtonUrl(false);
			}
		});
	});

	const link = document.querySelector('.card-lang a') as HTMLAnchorElement;

	function setButtonUrl(newLangCode: LangCode | false) {
		if (newLangCode) {
			link?.classList.remove('disabled');
			const newPath = getUrlPathWithLang(url, newLangCode);
			link.href = newPath;
		} else {
			link?.classList.add('disabled');
			link?.removeAttribute('href');
		}
	}
</script>
