---
import skillItems from '../../data/skills/items.json';
import Icon from './Icon.astro';
---

<section>
	<h3>JS</h3>
	<div class='icon-grid'>
		{
			skillItems.map(skill => {
				return <Icon skill={skill} />;
			})
		}
	</div>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
		border: 3px dotted white;
		padding: var(--spacing);
	}

	h3 {
		font-size: 1.5rem;
	}

	.icon-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
		justify-content: right;
		gap: var(--spacing);
	}
</style>
