---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Description from '../components/sections/Description.astro';
import ItemDisplay from '../components/sections/ItemDisplay.astro';
---

<Layout>
	<Header />
	<main>
		<Description />
		<ItemDisplay />
	</main>
</Layout>

<style></style>
