---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Description from '../components/sections/Description.astro';
import ItemDisplay from '../components/sections/ItemDisplay.astro';
---

<Layout>
	<Header />
	<main>
		<Description />
		<ItemDisplay />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		padding: 2rem 5%;
	}
</style>
