---
import SkillsIcon from './SkillsIcon.astro';

import { getItemsData, getLangFromUrl } from '../../../utils/languages';
const skillsItemsData = await getItemsData(getLangFromUrl(Astro.url));
---

<section class='skills__group'>
	<h3>JS</h3>
	<div class='skills__icon-grid'>
		{
			skillsItemsData.map(skill => {
				return <SkillsIcon skill={skill} />;
			})
		}
	</div>
</section>

<style>
	section {
		--spacing: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
		border: 3px dotted white;
		padding: var(--spacing);
	}

	h3 {
		font-size: 1.5rem;
	}

	.skills__icon-grid {
		--cell-size: 70px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--cell-size), 1fr));
		gap: var(--spacing);
		@media (width > 700px) {
			--cell-size: 90px;
		}
	}
</style>
