---
import SkillsCollection from './SkillsCollection.astro';
import SkillsDisplay from './SkillsDisplay.astro';

/*
Class Naming:

.skills {
	.skills__collection {
		.skills__group {
			.skills__icon-grid {
				.skills__icon
			}
		}
	}
	.skills__display {
		.skills__description
		.skills__explain
	}
}
*/
---

<section class='skills'>
	<article>
		<SkillsCollection />
	</article>
	<article>
		<SkillsDisplay />
	</article>
</section>

<style>
	section {
		display: grid;
		gap: 2rem;
		@media (width > 700px) {
			grid-template-columns: 2fr 1fr;
		}
	}

	article {
		--color-bg-gradient: linear-gradient(
			15deg,
			hsla(271, 76%, 53%, 0.9),
			70%,
			hsla(0, 100%, 50%, 0.9)
		);
		--color-bg: hsla(271, 76%, 70%, 0.4);
		position: relative;
		border: 1px solid white;
		border-radius: 1rem;
		background: var(--color-bg);
		padding: 1rem;
	}
</style>
