---
import SkillsIcon from './SkillsIcon.astro';
import type { ItemGroup } from '../../../utils/languages/data.types';

interface Props {
	itemGroup: ItemGroup;
}

const { itemGroup } = Astro.props;
---

<section class='skills__group'>
	<h3>{itemGroup.group}</h3>
	<div class='skills__icon-grid'>
		{
			itemGroup.items.map(item => {
				return <SkillsIcon item={item} />;
			})
		}
	</div>
</section>

<style>
	section {
		--spacing: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
		border: 3px dotted white;
		padding: var(--spacing);
	}

	h3 {
		font-size: 1.5rem;
	}

	.skills__icon-grid {
		--cell-size: 70px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--cell-size), 1fr));
		gap: var(--spacing);
		@media (width > 700px) {
			--cell-size: 90px;
		}
	}
</style>
