---
interface Props {
	lang?: string;
}

const { lang } = Astro.props;
const langCode = lang ?? 'en';

const title = 'Presentation';
---

<!doctype html>
<html lang={langCode}>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Astro description'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/presentation/favicon.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
		<!-- Google Fonts -->
		<link
			rel='preconnect'
			href='https://fonts.googleapis.com'
		/>
		<link
			rel='preconnect'
			href='https://fonts.gstatic.com'
			crossorigin
		/>
		<link
			href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'
			rel='stylesheet'
		/>
		<!-- Modern-Normalize Stylesheet -->
		<link
			rel='stylesheet'
			href='/presentation/modern-normalize.min.css'
		/>
	</head>
	<body class='theme-instant'>
		<slot />
	</body>
</html>

<style is:global>
	*,
	::before,
	::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	button {
		cursor: pointer;
		border: none;
		color: inherit;
	}

	@property --color-bg-gradient {
		syntax: '<color>';
		inherits: true;
		initial-value: white;
	}

	html {
		--color-bg: hsla(0, 0%, 0%, 0.8);
		--color-font: white;
		--color-bg-gradient: transparent;
		--font-default: 'Roboto', sans-serif;
	}

	body[data-theme='cyan'] {
		--color-font: white;
		--color-bg-gradient: hsl(203, 74%, 48%);
	}

	body[data-theme='red'] {
		--color-font: white;
		--color-bg-gradient: hsl(348, 83%, 35%);
	}

	body[data-theme='violet'] {
		--color-font: white;
		--color-bg-gradient: blueviolet;
	}

	body {
		transition: --color-bg-gradient 1s;
		background-image: radial-gradient(at 10% 10%, var(--color-bg-gradient), 40%, transparent),
			radial-gradient(at 90% 90%, var(--color-bg-gradient), 40%, transparent);
		background-color: var(--color-bg);
		min-height: 100dvh;
		color: var(--color-font);
		font-family: var(--font-default);
	}
</style>

<script>
	import { loadTheme } from '../utils/theme';
	loadTheme();
</script>
